body{
    font-family: 'Send Flowers', cursive;
    background-color: green;
    
    font-weight: bold;
}
.header_div{
    background-color: grey;
    color: blue;
}
p{
  font-size: 18;  
}
.main_div{
    margin-top: 43px;
    width: 20px;
    
}
.copy_right_footer{
    color:aqua;
    width:100%;
    font-size: 25px;
    line-height: normal;
    text-shadow: 19px;
    position: fixed;
    bottom: 0;
}